# Core
django==4.2.9
python-dotenv==1.0.1
str2bool==1.1

# Deployment
whitenoise==6.6.0
gunicorn==21.2.0

# NOTE: Please don't commit GITHUB_TOKEN on GitHub.
# !!! It will be automatically invalidated by GitHub !!!
git+https://${GITHUB_TOKEN}@github.com/app-generator/priv-django-admin-datta-pro

# psycopg2-binary
# mysqlclient
